/* Reset CSS */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: "MazdaType";
    font-weight: 500;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    text-rendering: optimizelegibility;
    background: #f5f5f5;
    opacity: 1;
    transition: opacity 150ms ease-in-out;
    color: #101010;
    line-height: 1.5;
}
html {
    font-family: "MazdaType";
    background-color: #e7e7e7;
    scroll-behavior: smooth;
}

#main {
    position: relative;
    min-height: calc(100vh - 100px);
    overflow: hidden;
}

.clear {
    clear: both;
}

div {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 100%;
    vertical-align: baseline;
    background: transparent;
    font-weight: inherit;
}

ul {
    list-style-type: none;
}

a:hover {
    text-decoration: none;
}

#header {
    width: 100%;
    position: fixed;
}

/* .header-global {
    width: 100%;
    position: relative;
} */

.header-global__inner-wrapper {
    /* display: flex; */
    position: absolute;
    width: 100%;
    height: 75px;
    top: 0;
    left: 0;
    z-index: 999;
    background: #2b2b2b;
    padding: 0 15px;
}

#nav {
    display: inline-block;
}

#nav li {
    display: inline-block;
}

#nav li a {
    color: #fff;
    text-decoration: none;
    line-height: 75px;
    padding: 0 35px;
    text-transform: uppercase;
}

#nav li a:hover {
    opacity: 0.8;
}

#header .header-logo {
    float: right;
    padding: 15px 35px;
}

#header .logo-mazda {
    width: 50px;
    height: 45px;
}

#header .header-global__flyout {
    background: #fff;
    overflow: hidden;
    width: 100%;
}

#header .header-global__flyout .header-global__flyout__item.menu--open {
    transform: translateY(0);
    -webkit-transform: translateY(0);
    transition-timing-function: ease-out;
    visibility: visible;
}

#header .header-global__flyout .header-global__flyout__item {
    width: 100%;
    border-bottom: 1px solid #c4c4c4;
    border-top: 1px solid #c4c4c4;
    box-shadow: 0 6px 6px rgba(0, 0, 0, 0.1);
    position: absolute;
    top: 70px;
    left: 0;
    z-index: 998;
    background: #fff;
    -webkit-transform: translateY(-110%);
    transform: translateY(-110%);
    visibility: hidden;
    transition: visibility 0.35s ease-in-out 0s, -webkit-transform 0.35s ease-in-out 0s;
    transition: transform 0.35s ease-in-out 0s, visibility 0.35s ease-in-out 0s;
    transition: transform 0.35s ease-in-out 0s, visibility 0.35s ease-in-out 0s, -webkit-transform 0.35s ease-in-out 0s;
}

.global__flyout_top_menu {
    background: #000;
    padding: 20px 0px 15px;
}

.j_container {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

.j_row {
    display: -ms-flexbox;
    display: flex;
    margin-right: -15px;
    margin-left: -15px;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}

/* .jcol-md-8 {
width: 100%;
position: relative;
padding-right: 15px;
padding-left: 15px;
} */

.jcol-6, .jcol-md-6, .jcol-md-3, .jcol-md-4, .jcol-md-8, .jcol-md-9, .jcol-md-12 {
    width: 100%;
    position: relative;
    padding-right: 15px;
    padding-left: 15px;
}

.global__flyout_top_menu ul {
    display: inline-block;
}

.hiddenScroll {
    -ms-overflow-style: none;
    scrollbar-width: none;
}

.global__flyout_top_menu ul li {
    float: left;
}

.custom-navbar-undeline-car-type {
    position: relative;
}

.global__flyout_top_menu ul li a {
    color: #fff;
    text-decoration: none;
    margin-right: 20px;
    opacity: 0.8;
}

.global__flyout_top_menu ul li a:hover,
.global__flyout_top_menu ul li.active a {
    opacity: 1;
}

.global__flyout_top_menu ul li a {
    color: #fff;
    text-decoration: none;
    margin-right: 20px;
    opacity: 0.8;
}

.header-global__flyout__item .vehicle-selection {
    padding-top: 0px;
}

.vehicle-selection {
    display: flex;
    text-align: center;
    flex-wrap: wrap;
    justify-content: left;
    padding: 20px 0;
    background: transparent;
    overflow: hidden;
}

.header-global__flyout__item .vehicle-selection .section_list {
    padding: 40px 0;
    border-bottom: 1px solid #D0CECF;
}

.header-global__flyout__item .vehicle-selection .item_car {
    padding: 20px 10px;
    text-align: left;
}

.header-global__flyout__item .vehicle-selection .item_car h4 {
    font-weight: bold;
    /* margin-bottom: 20px; */
    text-align: center;
}

.jimg-fluid {
    max-width: 100%;
    height: auto;
}

.header-global__flyout__item .vehicle-selection .item_car ul {
    display: flex;
    justify-content: space-between;
    /* margin-top: 10px; */
}

.header-global__flyout__item .vehicle-selection .item_car ul li a {
    color: #9C9C9C;
    font-size: 12px;
    text-decoration: none;
    text-transform: uppercase;
}

#slider {
    position: relative;
    width: 100%; 
    height: calc(100vw / 3.2); 
    overflow: hidden;
    margin-top: 75px;
}

.aspect-ratio-169 {
    display: block;
    position: relative;
    width: 100%; /* Đặt chiều rộng cho khung hình bằng 100% của slider */
    height: 100%; /* Đặt chiều cao cho khung hình bằng 100% của slider */
    transition: 0.3s;
}

.aspect-ratio-169 img {
    display: block;
    position: absolute;
    width: 100%; /* Chiều rộng 100% của hình ảnh */
    height: 100%; /* Chiều cao 100% của hình ảnh */
    top: 0;
    left: 0;
    object-fit: cover; /* Đảm bảo hình ảnh được ôm gọn trong khung hình */
}


.dot-container {
    position: absolute;
    bottom: 10px; /* Điều chỉnh vị trí bottom sao cho phù hợp với thiết kế của bạn */
    left: 0;
    /* right: 0; */
    margin: 0 30px;
    height: 30px;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    /* z-index: 1; Đảm bảo dot-container hiển thị trên hình ảnh */
}

.dot {
    height: 15px;
    width: 15px;
    background-color: #fff;
    border-radius: 50%;
    margin-right: 12px;
    cursor: pointer;
}

.dot.active {
    background-color: #333;
}

#content {
    display: flex;
    flex-wrap: wrap;
    padding: 20px 5px 0px 5px;
    background-color: #e7e7e7;
}

section {
    position: relative;
    /* margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 100%;
    vertical-align: baseline;
    background: transparent;
    font-weight: inherit; */
}

/* article {
    display: block;
        margin: 0;
        padding: 0;
        border: 0;
        outline: 0;
        font-size: 100%;
        vertical-align: baseline;
        background: transparent;
        font-weight: inherit;
} */

.article__overview-3 {
    width: calc(100% / 3);
    padding: 0 5px;
}

a {
    margin: 0;
    padding: 0;
    font-size: 100%;
    vertical-align: baseline;
    background: transparent;
}

.image-text__link-overview {
    text-align: center;
    text-decoration: none;
    display: block;
}

.image-text__img-container-overview {
    overflow: hidden;
    height: 419px;
    position: relative;
}

.image-text__img-wrapper-overview {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-position: center center;
    background-repeat: none;
    background-size: cover;
    transition: all 1.5s cubic-bezier(0.25, 0.46, 0.45, 0.94);
}

.image-text__img-wrapper-overview:hover {
    transform: scale(1.1);
}

.image-text__content-overview {
    position: relative;
    padding: 35px 20px;
}

.image-text__title-overview {
    font-size: 0.9375rem;
    line-height: 1.54;
    letter-spacing: 0.2em;
    font-weight: 700;
    text-transform: uppercase;
    margin-bottom: 22px;
    color: #101010;
}

.image-text__copy-overview {
    font-size: 100%;
    font-size: 1rem;
    line-height: 1.5;
    letter-spacing: 0.01em;
    font-weight: 400;
    color: #999999;
}

.shopping-tools {
    padding: 35px 0 40px;
}

.shopping-tools__header {
    text-align: center;
}

.shopping-tools__header-title {
    font-size: 1.25rem;
    line-height: 1.75;
    letter-spacing: 0.2em;
    font-weight: 700;
    text-transform: uppercase;
    margin-bottom: 30px;
    margin-bottom: 0;
}

.shopping-tools__inner-wrapper {
    max-width: 1200px;
    width: 100%;
    margin: 0px auto;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    text-align: center;
    padding: 30px 0;
}

.shopping-tools__article {
    width: 300px;
    padding: 0 30px;
}

.shopping-tools__icon {
    margin-bottom: 20px;
    height: 100px;
}

.shopping-tools__link {
    display: block;
    text-decoration: none;
    transition: opacity 300ms linear;
    color: #101010;
}

.shopping-tools__icon img {
    width: auto;
    height: 100%;
    margin: 0 auto;
    display: block;
}

.shopping-tools__title {
    text-transform: uppercase;
    font-size: 82%;
    font-size: 0.8125rem;
    margin-bottom: 15px;
    letter-spacing: 0.2em;
    color: #101010;
    font-weight: 700;
    line-height: 2.3rem;
}

.shopping-tools__copy {
    font-size: 100%;
    font-size: 1rem;
    line-height: 1.5;
    letter-spacing: 0.01em;
    font-weight: 400;
    line-height: 1.75;
    font-weight: 400;
    margin-bottom: 20px;
}





/* .lazy.image-text__img-wrapper-overview {
    display: block;
    background-image: url(/assets/img/content/content1.jpg);
} */

#footer {
    height: auto;
    position: absolute;
    font-size: 1rem;
    line-height: 1.3rem;
}

#footer {
    background: #2b2b2b;
    padding: 15px;
    color: #f5f5f5;
    position: relative;
    bottom: 0;
    width: 100%;
    height: 414px;
}

.footer-wrapper {
    max-width: 1200px;
    width: 100%;
    margin: 0px auto;
    overflow: hidden;
    display: flex;
    flex-wrap: wrap;
}

.footer-wrapper .footer__component {
    margin-top: 20px;
    padding: 0 15px;
    width: calc(100% / 4);
}

.main-component {
    width: calc(100% / 3);
}

.footer__row {
    margin: 10px 0;
}

span.footer__p.p_title {
    font-weight: 700;
    font-size: 14px;
    color: #fff;
}

.footer__p {
    font-size: 12px;
    font-weight: 300;
    color: #999999;
}

.license-img {
    width: 150px;
}

img {
    vertical-align: middle;
}

.footer__row .quick__link {
    text-decoration: none;
}

.footer__row .quick__link:hover {
    font-weight: bold;
}

a.quick__link {
    color: #999999;
}

.p-bottom-20px {
    padding-bottom: 20px;
}

.footer__social-row {
    margin-top: 30px;
}

.footer__component .social-link {
    color: #fff;
    text-decoration: none;
}

.footer__component .social-link .social-img {
    width: 13%;
    margin: 0 3% 0 0;
    border-radius: 50%;
}



